<p id="notice"><%= notice %></p>

<h1>Brandnames</h1>

<table id="Brandnames" , data-source="<%= dis_alcohol_interactions_path(format: :json) %>"class="table table-bordered table-hover table-striped datatable" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Release status</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'Add New', new_dis_brandname_path %>
