<p id="notice"><%= notice %></p>
<h1>DisDispensableGeneric</h1>
<table id="DisDispensableGeneric" , data-source="<%= dis_dispensable_generics_path(format: :json) %>"class="table table-bordered table-hover table-striped datatable" cellspacing="0" width="100%">
  <thead>
    <tr>
       
         <th>strength</th>
        
         <th>strength_doseunit_id</th>
        
         <th>per_strength</th>
        
         <th>per_doseunit_id</th>
        
         <th>name</th>
        
         <th>release_status_id</th>
        
         <th>status_id</th>
        
         <th>datasource_id</th>
        
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Dis Dispensable Generic', new_dis_dispensable_generic_path %>
