<p id="notice"><%= notice %></p>
<h1>DisDoseformDoseunitLink</h1>
<table id="DisDoseformDoseunitLink" , data-source="<%= dis_doseform_doseunit_links_path(format: :json) %>"class="table table-bordered table-hover table-striped datatable" cellspacing="0" width="100%">
  <thead>
    <tr>
       
         <th>doseform_id</th>
        
         <th>doseunit_id</th>
        
         <th>is_default</th>
        
         <th>status_id</th>
        
         <th>datasource_id</th>
        
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Dis Doseform Doseunit Link', new_dis_doseform_doseunit_link_path %>
