<p id="notice"><%= notice %></p>

<h1>Dis Datasources</h1>

<table id="Dis-Datasources" , data-source="<%= dis_datasources_path(format: :json) %>"class="table table-bordered table-hover table-striped datatable" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'New Dis Datasource', new_dis_datasource_path %>
