<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dis_datasource.name %>
</p>

<%= link_to 'Edit', edit_dis_datasource_path(@dis_datasource) %> |
<%= link_to 'Back', dis_datasources_path %>
