<h1>Editing Dis Generic Contraceptive Interaction</h1>

<%= render 'form' %>

<%= link_to 'Show', @dis_generic_contraceptive_interaction %> |
<%= link_to 'Back', dis_generic_contraceptive_interactions_path %>
